<ion-view view-title="All Tasks">
  <ion-content>
     	<ion-list>
        <div ng-repeat="task in data.allTasks">
          <ion-item class="item-stable"
                    ng-click="data.toggleTask(task)"
                    ng-class="{active: data.isTaskShown(task)}">
              <i class="icon" ng-class="data.isTaskShown(task) ? 'ion-android-arrow-dropup-circle' : 'ion-android-arrow-dropdown-circle'"></i>
            Task {{task.taskName}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="prop in task.properties"
                    ng-show="data.isTaskShown(task)">
            {{prop}}
          </ion-item>
          <ion-checkbox ng-show="data.isTaskShown(task)"
          ng-model="task.finished">Finished: </ion-checkbox>
          <button class="button button-assertive button-full"
          ng-show="task.finished" 
          ng-click="data.finishTask($index)">Remove Task!</button>
          </div>
      </ion-list>

  </ion-content>
</ion-view>
