<!-- I based the design from the info I got here http://loring-dodge.azurewebsites.net/ionic-item-expand/
  and altered it to get the desired effect.
-->

<ion-view view-title="Personal">
  <ion-content>
    <ion-list>
      <div ng-repeat="task in data.allTasks">
        <div ng-if="task.category === 'Personal'">
        <!-- going through all the tasks, but just display the personal category tasks-->
          <ion-item class="item calm2" ng-click="data.toggleTask(task)">
            <i class="icon" ng-class="task.show ? 'ion-minus' : 'ion-plus'"></i>
            Task {{task.taskName}}
          </ion-item>
        <div class="card" ng-show = "task.show">
          <ion-item class="item calm3 task-italic"
            ng-repeat="prop in task.properties">
          {{prop}}
          </ion-item>
        </div>
          <ion-toggle class="calm3" ng-show="task.show"
          ng-model="task.finished">Finished: </ion-toggle>
        <button class="button button-balanced button-full"
          ng-show="task.finished" 
          ng-click="data.finishTask($index)">Task Finished!</button>
        </div>
      </div>
    </ion-list>
    <div>
    	<button ng-click="toggleAdd()" 
      class="button button-full create-task personal-calm">Create New Task</button> 
    </div>

	<div ng-show="addButton" class="list">
	  <label class="item item-input">
	    <input type="text" ng-model="currentTask.taskName" placeholder="Enter Task Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="currentTask.fullTask" placeholder="Enter Task Description">
	  </label>
	  <label class="item item-input">
	    <input type="date" ng-model="currentTask.dueDate" placeholder="Enter Date Due">
	  </label>
	  <button class="button button-full button-balanced" 
	  ng-click="data.addTask(data.allTasks,currentTask.taskName,currentTask.fullTask,currentTask.dueDate,'Personal')">Add New Task</button>
	</div>
  </ion-content>
</ion-view>
