<!-- I based the design from the info I got here http://loring-dodge.azurewebsites.net/ionic-item-expand/
  and altered it to get the desired effect.
-->

<ion-view view-title="Work">
  <ion-content>
	<ion-list>
		<div ng-repeat="task in data.allTasks">
			<div ng-if="task.category === 'Work'">
			<!-- going through all the tasks, but just display the work category tasks-->
				<ion-item class="item royal2" ng-click="data.toggleTask(task)">
					<i class="icon" ng-class="task.show ? 'ion-minus' : 'ion-plus'"></i>
					Task {{task.taskName}}
				</ion-item>
			<div class="card" ng-show = "task.show">
				<ion-item class="item royal3 task-italic"
					ng-repeat="prop in task.properties">
				{{prop}}
				</ion-item>
			</div>
				<ion-toggle class="royal3" ng-show="task.show"
				ng-model="task.finished">Finished: </ion-toggle>
			<button class="button button-balanced button-full"
				ng-show="task.finished" 
				ng-click="data.finishTask($index)">Task Finished!</button>
			</div>
		</div>
	</ion-list>

<!-- brings up the task creation section on a button press-->
<button ng-click="toggleAdd()"
class="button button-full create-task work-royal">Create New Task</button> 
</div>
	<div ng-show="addButton">
	  <label class="item item-input">
	    <input type="text" ng-model="currentTask.taskName" placeholder="Enter Task Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="currentTask.fullTask" placeholder="Enter Task Description">
	  </label>
	  <label class="item item-input">
	    <input type="date" ng-model="currentTask.dueDate" placeholder="Enter Date Due">
	  </label>
	  <button class="button button-full button-balanced" 
	  ng-click="data.addTask(data.allTasks,currentTask.taskName,currentTask.fullTask,currentTask.dueDate,'Work')">Add New Task</button>
	  <!-- adds a new task to the list of all tasks-->
	</div>
  </ion-content>
</ion-view>
